<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8" />
    <title>Hair Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body>

  <nav role="navigation">
  <div id="menuToggle">
  <input type="checkbox" />
  <span></span>
  <span></span>
  <span></span>
    <ul id="menu">
      <a id="nav" href="/"><li>Home</li></a>
      <a id="nav" href="/specialities"><li>Specialities</li></a>
      <a id="nav" href="/stylists"><li>Stylists</li></a>
      <a id="nav" href="/clients"><li>Clients</li></a>
    </ul>
  </div>
</nav>




    @RenderBody()
  
</body>
</html>