@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<h2>Stylists:</h2>

@if(Model.Count < 1)
{
    <p>There are no stylists to display! To add a new stylist you need to select their speciality first.</p>
}

@if (Model.Count != 0)
{
  
    @foreach (var stylist in Model)
    {
      <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a><br>
    }
  
}

<br>
<form method="post" action='/stylists/deleteall'>
  <button type="submit">Delete all</button>
</form>

<!-- <h4><a href="/stylists/new">Add a new stylist</a></h4> -->
<h4><a href="/">Return home</a></h4>