@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }



<div class="container">
<h1>Add a stylist</h1>

<form action="/stylists" method="post">
  <label for="name">Stylist name:</label>
 <input required id="name" name="name" type="text"><br>
 <label for="information">Information:</label><br>
 <textarea class= "k-textbox" style="width: 90%; height: 70px;" required id="information" name="information" type="text" ></textarea><br>


  <select id='specialityId' name='specialityId' type='text'>
    @foreach (var speciality in @Model)
        {
          <option value='@speciality.GetId()'>@speciality.GetName()</option>
        }
  </select>


  <button class="btn" type="submit">Add</button>
</form>
</div>



