@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<div class="container">
<form action="/specialities/@Model.GetId()/edit" method="post">
 <label><h4>Speciality name:</h4></label>
 <input name="newName" type="text" value="@Model.GetName()"><br>
 <button class="btn" type="submit">Save</button>
</form>
</div>