@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<form action="/specialities/@Model.GetId()/edit" method="post">
 <label >Speciality name:</label>
 <input name="newName" type="text" value="@Model.GetName()"><br>
 <button type="submit">Save</button>
</form>