@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }

<head>
    <meta charset="utf-8" />
    <title>Hair Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <link href="~/css/styles.css" rel="stylesheet">
    </head>

<h2>Specialities:</h2>

@if(Model.Count < 1)
{
    <p>There are no specialities to display!</p>
}
else
{
    <p>Click on speciality to see and manage stylists</p>
    <ul>

    @foreach (var speciality in Model)
    {
      <li><a href="/specialities/@speciality.GetId()">@speciality.GetName()</a></li>
    }
  </ul>
}

<form method="post" action='/specialities/deleteall'>
  <button type="submit">Delete all</button>
</form>

<h4><a href="/specialities/new">Add a new speciality</a></h4>
<h4><a href="/">Return home</a></h4>