@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }

<style>
  .container {margin: 20px; margin-left: 160px;}

  body {background-color: #232323;}

  h1 {color: tomato;}

  .row {margin-top: 40px; margin-bottom: 40px;}

  .btn:hover
  {
    color: tomato;
  }

  .col-md-6 {margin-top: 50px; margin-bottom: 20px;}


  </style>

<div class="container">
<h1>Specialities:</h1>

@if(Model.Count < 1)
{
    <h5>There are no specialities to display!</h5>
}
else
{
    <h5>Click on speciality to see and manage stylists</h5>
    <br>
    <ul>

    @foreach (var speciality in Model)
    {
      <li><h5><a href="/specialities/@speciality.GetId()">@speciality.GetName()</a></h5></li>
    }
  </ul>
}
<br><br>
<form method="post" action='/specialities/deleteall'>
  <button class="btn" type="submit">Delete all</button>
</form>
<br>
<br>

<h4><a href="/specialities/new">Add a new speciality</a></h4>
</div>
<!-- <h4><a href="/">Return home</a></h4> -->
