@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }

<div class="container">
<h1>Add a speciality</h1>

<form action="/specialities" method="post">
  <label >Speciality name</label>
  <input name="name" type="text">

  <button class="btn" type="submit">Add</button>
</form>
</div>
