@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }

<h1>Add a speciality</h1>

<form action="/specialities" method="post">
  <label >Speciality name</label>
  <input name="name" type="text">

  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialities">Back to specialities</a></p>
