@using HairSalon.Models;
@using System;
@using System.Collections.Generic;

<h1>Add a speciality</h1>

<form action="/specialities" method="post">
  <label for="specialityName">Speciality name</label>
  <input id="specialityName" name="specialityName" type="text">

  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialities">Back to specialities</a></p>
