@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<h3><a href='/specialities'>View all specialities</a></h3><br>
<h3><a href='/stylists'>View all stylists</a></h3><br>
<h3><a href='/clients'>View all clients</a></h3><br>