@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


    <div class="home-background"></div>
    <h1 id="home-title">HAIR SALON</h1>
    
    <p id="home-paragraph">Click on the "hamburger menu" to slide in the side navigation.
        Lorem ipsum dolor sit amet, duo te vidit munere lobortis, usu quodsi consequat ad, ne usu quis facilisi. Accusata iracundia cu vel, ei qui utinam ullamcorper interpretaris. Eos ad habeo tempor hendrerit. Nostro dictas nominati ad vix, vix ne melius convenire abhorreant. Ex ferri debet per, ad eos sale vocent eleifend. Per accusam intellegat adipiscing no, quo ut probo liber. Ludus fastidii scaevola nec te, delectus evertitur conclusionemque ne qui, has cu partem perpetua elaboraret.</p>
  </div>

  
