@using HairSalon.Models;
@using System;
@using System.Collections.Generic;

@{ Layout = "_Layout"; }


<style>
  .container {margin: 20px; margin-left: 160px;}

  body {background-color: #232323;}

  h1 {color: tomato;}

  .row {margin-top: 40px; margin-bottom: 40px;}

  .btn:hover
  {
    color: tomato;
  }

  .col-md-6 {margin-top: 50px; margin-bottom: 20px;}
 

  </style>

<div class="container">
<form action="/clients/@Model.GetId()/edit" method="post">
 <label >Client name:</label>
 <input  name="newName" type="text" value="@Model.GetName()"><br>
 <label >Details:</label><br>
 <textarea class= "k-textbox" style="width:90%; height: 70px;"  name="newDetails" type="text">@Model.GetDetails()</textarea><br>
 <label >Appointment date</label>
 <input  name='newAppointment' type='date' value="@Model.GetAppointment()"><br>
 
 <button class="btn" type="submit">Save</button>
 </div>