@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }

<style>
  .container {margin: 20px; margin-left: 160px; margin-right: 50px;}

  body {background-color: #232323;}

  h1 {color: tomato;}

  .row {margin-top: 40px; margin-bottom: 40px;}

  .btn:hover
  {
    color: tomato;
  }

  .col-md-6 {margin-top: 50px; margin-bottom: 20px;}
 

  </style>

<div class="container">
<h1>Clients</h1>
<br>

@if(Model.Count < 1)
{
    <h6>There are no clients to display!</h6>
}
else
{
  
    @foreach (var client in Model)
    {
      <h5><a href="/clients/@client.GetId()">@client.GetName()</a></h5>
    }
}

<br>
<form method="post" action='/clients/deleteall'>
  <button class="btn" type="submit">Delete all</button>
</form>
</div>