@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<div class="container">
<h1>Clients</h1>
<br>

@if(Model.Count < 1)
{
    <h6>There are no clients to display!</h6>
}
else
{
  
    @foreach (var client in Model)
    {
      <h5><a href="/clients/@client.GetId()">@client.GetName()</a></h5>
    }
}

<br>
<form method="post" action='/clients/deleteall'>
  <button class="btn" type="submit">Delete all</button>
</form>
</div>