@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<h2>Clients:</h2>

@if(Model.Count < 1)
{
    <p>There are no clients to display!</p>
}
else
{
  
    @foreach (var client in Model)
    {
      <a href="/clients/@client.GetId()">@client.GetName()</a><br>
    }
}

<br>
<form method="post" action='/clients/deleteall'>
  <button type="submit">Delete all</button>
</form>

<h4><a href="/">Return home</a></h4>