@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<div class="container">
<form action="/stylists/@Model/clients/new" method="post">
 <label for="name">Client name:</label>
 <input required id="name" name="name" type="text" /><br>
 <label for="details">Details:</label><br>
 <textarea class= "k-textbox" style="width:90%; height: 70px;" required id="details" name="details" type="text" ></textarea><br>
 <label for='appointment'>Appointment date</label>
<input id='appointment' name='appointment' type="date" /><br>

 <button class="btn" type="submit" >Save</button>
</form> 

</div>
